/* * {
    outline-color: 0.5px red;
    outline-style: solid;
} */



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    color: rgba(87, 99, 102, 0.9);
    background: #5DCF7E;
    font-family: 'Mukta', sans-serif;
  }
  h2 {
    color: #404040;
    font-size: 160%;
    margin-bottom: 40px;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin: 20px 0;
  }
  
  /* estilo del contenedor*/
  
  .content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 3px rgba(0,0,0, .1);
    overflow: hidden;
  }
  
  /* estilos nav */
  
  header {
    background: #edeff0;
    margin-bottom: 2em;
  }
  .icono {
    background: #515D68;
    color: white;
  }
  .icono i {
    font-size: 2.45em;
    line-height: 0;
    margin-top: 30px;
  }
  .main-nav a {
    text-align: center;
    font-size: .95em;
    color: #222;
    text-transform: uppercase;
    display: block;
    padding: 1em;
    transition: .2s;
  }
  .main-nav .active, .main-nav a:hover {
    color: #fff;
    background: #3b80d1;
  }
  .main-content {
    padding: 1em 2em;
  }
  
  .teacher-img {
    width: 100%;
    border-radius: .3em;
  }
  .group:after {
    content: "";
    display: table;
    clear: both;
  }
  .course-nav a.active, .course-nav a:hover {
    color: #fff;
    background: #39add1;
  }
  .course-nav li{
    margin-left: .6em;
  }
  .course-nav a {
    font-size: .85em;
    color: #7d7d7d;
    padding: .2em .8em;
    border-radius: .25em;
    background: #eaebeb;
    transition: .2s;
  }
  .course {
    margin-bottom: 32px;
  }
  .course-img {
    width: 70px;
  }
  
  
  @media (min-width: 0) and (max-width: 768px) { 
    body {
      padding-top: .8em;
    }
    .home a {
      border-color: transparent;
    }
     .icn-logo {
       display: block;
       width: 100%;
       text-align: center;
       padding-bottom: 4px;
     }
     .main-nav a {
       border-top: 2px solid transparent;
       border-bottom: 2px solid transparent;
     }
     .main-nav a:hover {
       border-color: rgba(0,0,0, .1);
     }
     .courses h2 {
       margin-bottom: 0;
     }
     .course-nav {
       display: block;
       margin: 1.5em 0 3.2em;
     }
  }
  @media (min-width: 769px) {
    body {
      padding-top: 3em;
    }
    
    .media img,
    .media > div,
    .teacher {
      float: left;
    }
    .media > div {
      width: 85.1%;
      margin-left: 1.5em;
    } 
    .teacher {
      width: 48.73%;
      margin-bottom: 1.5em;
    }
    .teacher + .teacher {
      margin-left: 2.54%;
    }
    .teacher:nth-child(2n+3) {
      clear: left;
      margin-left: 0;
    }
    .icono{
      margin-right: auto;
      padding: 0 2em;
    }
    header,
    .main-nav {
      display: flex;
      flex-wrap: wrap;
    }
    .main-nav a {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      padding: 1.25em 1.5em;
    }
    .main-nav a:hover {
      border-color: rgba(0,0,0, .1);
    }
    .course-nav {
      float: right;
    } 
    .courses h2 {
      float: left;
    }
  }